<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="Ncebakazi Somdaka" />
        <Link rel="stylesheet" href="css/style.css" />
        <title>Ncebakazi Somdakazi's site</title>
    </head>
    <body>
        <div id="root">
            <h2  id="about-me">Social media Networks</h2>
            <img src="https://scontent-cpt1-1.xx.fbcdn.net/v/t39.30808-6/433600421_25701227719464322_4455979962846511745_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=6VYQxsGUARkAX_wn5yC&_nc_ht=scontent-cpt1-1.xx&oh=00_AfBsw37j3r7G73JG6Zqvg3hCF_ChM-hz03nptma0kK7Veg&oe=6612DDE2" alt="Ncebakazi Somdaka" />
            <ul>
                <li><a href="https://www.facebook.co">Facebook</a></li>
                <li><a href="https://www.linkedin.com">linkedin</a></li>
                <li><a href="https://www.twitter.com">twitter</a></li>
                <li><a href="https://www.instargram.com">instargram</a></li>
                <li><a href="https://www.google.com">google</a></li>
                <li><a href="https://github.com/Ncebakaz">Ncebakzi'github account</li>

            </ul>
            <img src="kazi.JPG" alt="kazi" width="800"/>
            <div>
                <h2>My Hobbies</h2>
                <ul>
                    <li>Reading</li>
                    <li>Travelling</li>
                    <li>Watching Movies</li>
                    <li>Listening to music</li>
                    <li>Playing games</li>
                </ul>
            <img src="https://scontent-cpt1-1.xx.fbcdn.net/v/t39.30808-6/432442319_25701227896130971_4301746311945054094_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=dp2xRqjqkR8AX8M6giK&_nc_ht=scontent-cpt1-1.xx&oh=00_AfDFXftVO-EjVcwL7jivpOHQgYAkI2ecpouAe2FDJENxxA&oe=6612E4DB" alt="me"/>
            <img src="https://scontent-cpt1-1.xx.fbcdn.net/v/t39.30808-6/433691634_25701228109464283_8764217285052770219_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_ohc=MqCvqi86s70AX-Ni_nO&_nc_ht=scontent-cpt1-1.xx&oh=00_AfAgkHY8Yj5EMiqVhk3rLJkVXbeGqtUGJRx0hgnhVwJySQ&oe=6612CE7C" alt="another me" />
        </div>
        <script src="src/index.js"></script>
    </body>
</html>