<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="Ncebakazi Somdaka" />
        <Link rel="stylesheet" href="css/style.css" />
        <title>Ncebakazi Somdakazi's site</title>
    </head>
    <body>
        <!--Navbar-->
        <div class="navbar">
            <div class="container">
                <h1 class="logo">Ncebakazi Somdaka.</h1>
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="feautures.html">Features</a></li>
                        <li><a href="docs.html">Docs</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <script src="src/index.js"></script>
    </body>
</html>