<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="Ncebakazi Somdaka" />
        <Link rel="stylesheet" href="css/style.css" />
        <title>Ncebakazi</title>
    </head>
    <body>
        <div id="root">
            <h2  id="about-me">Social Networks</h2>
            <ul>
                <li><a href="https://www.facebook.co">Facebook</a></li>
                <li><a href="https://www.linkedin.com">linkedin</a></li>
                <li><a href="https://www.twitter.com">twitter</a></li>
                <li><a href="https://www.instargram.com">instargram</a></li>
                <li><a href="https://www.google.com">google</a></li>
            </ul>
        </div>
        <script src="src/index.js"></script>
    </body>
</html>